
Assemblytics_uniq_anchor.py
GATK_call_variate.sh
VCF_cleaner.pl
bio-pipeline/
call_snp.py
draw_dp.py
gatk_callSNP_pipeline.pl
getFaLen.pl
get_median.py
get_median.pyc
getfilename.py
id_rsa.pub
snp_calling.pl
snps_calling_gatk.sh
snps_calling_samtools.sh
teloFinder.pl
vcf_awk.py
vcf_extract.py
venn2_draw.py
venn_darw.pyc
